<div class="headers">
	<h1>Edit Task</h1>
</div>

<%= render 'form' %>

<div class='back_footer'>
	<%= link_to "Back to task #{@task.name}", organization_investor_task_path(@organization, @investor, @task) %>