body {
	font-family: arial;
	font-size: 12px;
}

textarea {
	font-family: arial;
	font-size: 12px;
	line-height: 20px;
}

.back_footer {
	margin-top: 20px;
	border-top: solid 1px #659EC2;
	width: 100%;
	float: left;
	padding-bottom: 40px;
}

a:link {
	text-decoration: none;
	font-size: 12px;
	color: #636EE7;
}

a:visited {
	color: #636EE7;
}

a:hover {
	text-decoration: underline;
}

.temp_holder {
	width: 1000px;
	position: relative;
}

/* REPORT MONTH MENU */

.report_month_menu {
	padding-top: 9px;
	width: 950px;
	height: 23px;
	font-size: .8em;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
}

.month_plain {
	font-size: 12px;
	float: left;
	color: #B9B9B9;
	margin-right: 10px;
	height: 30px;}	
	.month_plain a:link, .month_plain a:visited {
		padding: 5px;
		border: 1px solid #FFF;
		text-decoration: none;}
	.month_plain a:hover {
		padding: 5px;
		border: 1px solid #659EC2;}

.month_selected {
	float: left;
	margin-right: 10px;
	height: 30px;}
	.month_selected a:link, .month_selected a:visited {
		padding: 5px;
		border: 1px solid #659EC2;
		text-decoration: none;
		background-color: #DEECF5;}

.flag_green {
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	background-image: url('/images/green.png');
	width: 25px;
	height: 25px;	
}

.flag_yellow {
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	background-image: url('/images/yellow.png');
	width: 25px;
	height: 25px;	
}

.flag_red {
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	background-image: url('/images/red.png');
	width: 25px;
	height: 25px;
}

.report_flag_green {
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	background-image: url('/images/green.png');
	width: 25px;
	height: 25px;
}

.report_flag_yellow {
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	background-image: url('/images/yellow.png');
	width: 25px;
	height: 25px;
}

.report_flag_red {
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	background-image: url('/images/red.png');
	width: 25px;
	height: 25px;
}

.report_flag_edit {
	float: right;
	margin-right: 0px;
	margin-top: -34px;
}

.report_item_title {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	font-weight: bold;
}

.report_item {
	width: 450px;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	background: #EFEFEF;
	float: left;
}

.report_item_content {
	height: 140px;
	overflow-y: auto;
	line-height: 20px;
}

.report_item_content_edit_form {
	font-family: arial;
	height: 140px;
	overflow-y: auto;
	line-height: 20px;
}

.hidden {
	display: none;
}

.main_header {
	background-color: #2B628B;
	padding: 8px;
	height: 30px;
	color: #FFF;
	font-size: 14px;
	border-bottom: 1px solid white;}
	.main_header ul {
		padding: 0;
		margin: 0;
		margin-right: 10px;
		float: right;}
		.main_header ul li {
			margin-top: 6px;
			margin-left: 20px;
			float: left;
			display: block;}
			.main_header ul li a:link, .main_header ul li a:visited {
				font-size: 14px;
				color: #FFF;
				text-decoration: none;}
			.main_header ul li a:hover {
				text-decoration: underline;}

.dropdown_sub_header {
	padding-right: 8px;
	height: 30px;
	color: #FFF;
	font-size: 14px;
	background-color: #929EA2;}
	.dropdown_sub_header ul {
		float: right;
		margin: 0;
		margin-right: 10px;
		padding: 0;}
		.dropdown_sub_header ul li {
			margin-top: 6px;
			margin-left: 20px;
			float: left;
			display: block;}
			.dropdown_sub_header ul li a:link, .dropdown_sub_header ul li a:visited {
				font-size: 14px;
				color: white;
				text-decoration: none;}
			.dropdown_sub_header ul li a:hover {
				text-decoration: underline;}


.tr_spacer {
	vertical-align: top;
	height: 30px;
}

.success {
	background-color: #D1F7C5;
	border: 1px solid #66A552;
	color: #0D6F24;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	font-size: 12px;
}

.failure {
	background-color: #F7CCC6;
	border: 1px solid #AD645A;
	color: #83180A;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	font-size: 12px;
}

.left9 {
	width: 100px;
}
.right9 {
	width: 100px;
}

.dropdown_header {
  background-color: #6584A2;
	font-size: 14px;
	color: white;
  height: 20px;
	padding: 10px;
  margin: 0px 0px 0px 0px;
	border-bottom: 1px solid white;}
	.dropdown_header ul {
		float: left;
		margin: 0;
		padding: 0;}
	.dropdown_header li {
		float: left;
		display: block;
		margin-right: 10px;}	

.dropdown_header_right {
	float: right;}
	.dropdown_header_right ul {
		float: left;
		margin: 0;
		padding: 0;}
		.dropdown_header_right li {
			margin-left: 10px;}
			.dropdown_header_right ul li a:link, .dropdown_header_right ul li a:visited {
				font-size: 14px;
				color: #FFF;
				text-decoration: none;}
			.dropdown_header_right ul li a:hover {
				text-decoration: underline;}

.ttotals {
	background-color: #EBF7FA;
	border-top: 1px solid #85ACB6;
	line-height: 25px;
}

.tpercents {
	background-color: #EBF7FA;
	line-height: 20px;
	font-style: italic;
}

.theader {
	background-color: #FFF8DA;
	border-top: 1px solid #DDD;
}

.theight {
	text-indent: 15px;
	line-height: 25px;
	border-top: 1px solid #DDD;
}

#advancement_container {
	height: 20px;
	position: relative;
}

#next_button {
	font-size: 10px;
	position: absolute;
	left: 85px;
	top: 0px;	
	font-weight: bold;
	text-indent: 6px;
	color: #CCC;
	line-height: 18px;
}

#next_button a:link, #next_button a:visited {
	font-size: 10px;
	width: 80px;
	height: 20px;
	color: #FFF;
	background: url(../images/next.png) no-repeat top left;
	display: block;
	text-decoration: none;
}

#previous_button {
	font-size: 10px;
	position: absolute;
	left: 0px;
	top: 0px;	
	font-weight: bold;
	text-indent: 6px;
	color: #CCC;
	line-height: 18px;
}

#previous_button a:link, #previous_button a:visited {
	font-size: 10px;
	width: 80px;
	height: 20px;
	color: #FFF;
	background: url(../images/previous.png) no-repeat top left;
	display: block;
	text-decoration: none;
}

div.log_out_link {
  right: 40px;
  top: 5px;
  position: absolute; }
  div.log_out_link a {
    color: #FFF;
 		font-size: .7em;}

#logout_regular {
  color: #333333; }

.alert {
  color: red; }

.notice {
  color: brown; }

#log_in_container {
  text-align: center;
  width: 210px;
  margin: 210px auto; }

#log_in_body {
  background: #E2E8EE url(/images/log_in_bg.png) repeat-x 0px 0px;
  color: #6584A2;
  font-family: verdana, geneva, sans-serif;
  text-align: center; }
  #log_in_body #email, #log_in_body #password {
    width: 202px;
    font-size: 18px;
    padding: 2px; }
  #log_in_body h2 {
    color: #f6dfc6; }
  #log_in_body img {
    position: absolute;
    top: 30px;
    left: 25px; }

#forgot_password {
  text-align: right;
  margin-top: -12px;
  font-size: 0.8em; }
  #forgot_password a {
    color: #6584A2;
    text-decoration: none; }

#remember_me_p {
  margin-top: -10px; }

#password_p {
  margin-top: -10px; }

#application_body {
  margin: 0px;
  padding: 0px;
  font-family: verdana, geneva, sans-serif; }

#bread_crumb {
  color: #fff;
  background-color: #7C96B1;
  height: 30px;
  font-size: .8em;
  padding: 0px 0px 0px 30px; }

#bread_crumb_detail {
  color: #fff;
  background-color: #676767;
  height: 16px;
  font-size: 12px;
  margin: 25px 2px 0px 2px;
  padding: 3px 0px 0px 30px; }

#nav {
  margin: 5px 2px 0px 2px;
  background-color: #003366;
  height: 50px; }
  #nav ul {
    margin: 0px 0px 0px 30px;
    padding: 0px; }
  #nav li {
    display: block;
    float: left;
    margin-left: 20px;
    color: #6584A2;
    position: relative;
    bottom: -1em;
    height: 25px;
    padding: 10px 8px 3px 8px;
    font-size: 0.75em;
    border: 2px solid #6584A2; }
  #nav li.active {
    color: #FF9933;
    background-color: #6584A2; }
  #nav li a {
    color: #C1C6BF;
    text-decoration: none; }
  #nav li.active a {
    color: #FFF; }

#sub_nav_filter {
  background-color: #6584A2;
  height: 30px;
  margin: 0px 2px 0px 2px; }
  #sub_nav_filter ul {
    float: left;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-size: 0.7em; }
  #sub_nav_filter li {
    display: block;
    float: left;
    color: #FFF;
    margin: 6px; }
  #sub_nav_filter li a {
    color: #FFF;
    text-decoration: none; }


#sub_nav {
  background-color: #E2E8EE;
  height: 30px;
  margin: 0px 2px 0px 2px; }
  #sub_nav ul {
    float: left;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-size: 0.7em; }
  #sub_nav li {
    display: block;
    float: left;
    color: #666;
    margin: 6px; }
  #sub_nav li a {
    color: #666;
    text-decoration: none; }

#deal_status {
  border-bottom: 1px solid #999;
  height: 30px; }
  #deal_status ul {
    float: right;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-size: 0.9em; }
  #deal_status li {
    display: block;
    float: left;
    color: #666;
    margin: 6px; }

#company_sub_nav {
  background-color: #003366;
  height: 30px;
  margin: 0px 2px 0px 2px;
  color: #FFF; }
  #company_sub_nav ul {
    float: right;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    color: #FFF;
    font-size: 0.8em; }
  #company_sub_nav li {
    display: block;
    float: left;
    color: #FFF;
    margin: 6px; }
  #company_sub_nav li a {
    color: #FFF;
    text-decoration: none; }
  #company_sub_nav #company_name {
    float: left;
    width: 50%;
    margin: 6px 0px 0px 20px;
    font-size: 0.8em; }

#operationals_sub_nav_years ul, #period_results_sub_nav_years ul {
  float: left;
  padding: 0px;
  margin: 0px 0px 0px 20px;
  font-size: 0.75em; }
#operationals_sub_nav_years li, #period_results_sub_nav_years li {
  display: block;
  float: left;
  color: #000;
  margin: 6px; }

#operationals_sub_nav_type ul, #operationals_sub_nav_view_by ul, #period_results_sub_nav_type ul, #period_results_sub_nav_view_by ul {
  float: right;
  padding: 0px;
  margin: 0px 20px 0px 0px;
  font-size: 0.75em; }

#operationals_sub_nav_type li, #operationals_sub_nav_view_by li, #period_results_sub_nav_view_by li, #period_results_sub_nav_type li {
  display: block;
  float: right;
  color: #000;
  margin: 6px; }

#operationals_sub_nav_view_by a, #period_results_sub_nav_view_by a {
  color: #000; }

#fund_bread_crumb {
  float: left;
  margin: 7px 0px 0px 10px; }

table {
  border-collapse: collapse; }

/*td {
  font-size: 75%; }

th {
  font-size: 80%; }*/

tr.total_row {
  background-color: #999; }

.indent {
  padding-left: 15px; }

.even {
  background-color: #EEE; }

.odd {
  background-color: #FFF; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.italic {
	font-style: italic;
}

.bold {
  font-weight: bold; }

.column_width {
/*	width: 300px;*/
/*	padding: 20px;*/
}

hr.clear {
  clear: both; }

#content {
  margin: 20px; }
  #content input {
    font-size: 10px;
    padding: 2px; }
  #content label {
    font-size: 12px; }
  #content p {
    margin: 6px 0px 6px 0px; }
  #content a {
    color: #333;
    text-decoration: none; }
    #content a:hover {
      color: #666; }

.small_text {
  font-size: 0.8em; }

#edit_fund {
  float: left;
  width: 300px; }

#edit_company {
  float: left;
  width: 500px; }

#fund_companies, #company_series, #company_operationals, #company_period_results, #company_user_defined_categories {
  float: left;
  width: 400px;
  border: 1px dashed #999;
  padding: 10px;
  margin: 30px 0px 0px 20px; }

#fund_company_table, #company_operational_table, #company_period_results_table, #company_user_defined_categories_table {
  width: 400px; }

#detail_table {
  width: 1200px;
  font-size: 0.8em; }
  #detail_table #header {
    border-bottom: 1px solid black; }

#company_summary_table {
  width: 500px;
  float: left; }
  #company_summary_table table {
    width: 580px; }
    #company_summary_table table td {
      padding-top: 7px;
      padding-bottom: 7px; }
    #company_summary_table table #labels {
      border-bottom: 1px solid #999; }
      #company_summary_table table #labels th {
        padding: 10px 20px; }

#company_summary_info {
  width: 300px;
  float: left;
  margin-left: 300px; }
  #company_summary_info table {
    width: 300px; }
    #company_summary_info table #middle {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999; }
    #company_summary_info table td {
      padding: 20px 0px; }

#summary_container {
  border-top: 2px solid #999; }

#company_summary_container {
	position: relative;
	width: 1000px;
}

#company_summary_box {
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	background: #EFEFEF;
	width: 300px;
	float: left;}
	#company_summary_box_title {
		border-bottom: 1px solid #D8D8D8;
		margin-bottom: 5px;
		font-weight: bold;
		float: left;
		width: 100%;}
	#company_summary_box_content_container {
		margin-top: 10px;
		float: left;
		width: 100%;}
		#company_summary_box_content_name {
			float: left;}
		#company_summary_box_content_value {
			text-aling: right;
			float: right;}
			
#company_summary_box_tall {
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	width: 300px;
	float: left;}
	#company_summary_box_tall_title {
		border-bottom: 1px solid #D8D8D8;
		margin-bottom: 5px;
		font-weight: bold;
		float: left;
		width: 100%;}
	#company_summary_box_tall_content_container {
		margin-top: 10px;
		float: left;
		width: 100%;}
		#company_summary_box_tall_content_name {
			width: 100px;
			float: left;}
		#company_summary_box_tall_content_value {
			width: 180px;
			text-aling: left;
			float: right;}			

#company_summary_box_wide {
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	background: #EFEFEF;
	width: 600px;
	float: left;}
	#company_summary_box_wide_title {
		border-bottom: 1px solid #D8D8D8;
		margin-bottom: 5px;
		font-weight: bold;
		float: left;
		width: 100%;}
	#company_summary_box_wide_content_container {
		margin-top: 10px;
		float: left;
		width: 100%;}
		#company_summary_box_wide_content_name {
			width: 250px;
			float: left;}
		#company_summary_box_wide_content_value {
			text-align: right;
			width: 100px;
			float: left;}
			
table.org_summary {
/*	width: 90%;*/
}	
	
table.org_summary	th {
/*		border-bottom: 1px solid #000;*/
}

.top_space {
	margin-top: 40px;
}


/* PORTED FROM THE OLD APP */

.left {
	text-align: left;
	padding-right: 20px;
}

.leftfirst {
	text-align: left;
	width: 150px;
}

 notes {
	text-align: left;
	width: 175px;
}

.right {
	text-align: right;
}

.odd {
	height: 30px;
	border-bottom: 1px solid #CCC;
}

.even {
	height: 30px;
	border-bottom: 1px solid #CCC;
}

.body_container {
	margin-top: 10px;
	padding: 20px;
	background-color: #FFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.body_container a:link, .body_container a:visited {
	color: #666;
	text-decoration: none;
}

.body_container a:hover {
	color: #666;
	text-decoration: underline;
}

#investor_holder {
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #666;
}

#investor_menu {
	color: #FFF;
	width: 1090px;
	height: 30px	;
	margin: 0 auto;
}

#investor_menu ul {
	list-style: none;
}

#investor_menu ul li {
	float: left;
	margin-right: 20px;
}

#investor_menu ul li a:link, a:visited {
	text-decoration: none;
}

#investor_menu ul li a:hover {
	color: #D27119;
	text-decoration: underline;
}

.headers h1 {
	font-size: 1.1em;	
	font-weight: bold;
	margin: 10px 0 1ex 0;	
	border-bottom: 1px solid;
}

.headers h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 20px 0 1ex 0;	
	border-bottom: dashed 1px;
}

.investor_main_container {
	float: left;
	margin-bottom: 20px;
}

.investor_container {
	float: left;
	padding: 5px 5px 0 5px;
	width: 650px;
}

.date_container {
	float: right;
	padding: 5px 5px 0 5px;
	width: 325px;
}

.investor_container #object {
	float: left;
	width: 300px;
	margin-bottom: 5px;
}

.investor_container #object_status {
	float: left;
	width: 600px;
	margin-bottom: 5px;
}

.investor_container #left {
	background-color: #E0EAF1;
	border-radius: 3px;
	float: left;
	width: 156px;
	line-height: 25px;
	text-indent: 5px;
	font-weight: bold;
}

.investor_container #left_status {
	background-color: #E0EAF1;
	border-radius: 3px;
	float: left;
	width: 156px;
	line-height: 25px;
	text-indent: 5px;
	font-weight: bold;
	height: 100px;
}


.investor_container #right {
	float: left;
	line-height: 25px;
	text-indent: 5px;
}

.investor_container #right_status {
	float: left;
	line-height: 25px;
	width: 437px;
	padding-left: 5px;
}

#error_explanation {
	padding: 5px;
	border: 1px solid red;
	background-color: #E0EAF1;
}


/* EVENT SHOW */

#event_holder {
	float: left;
}

#event_detail {
	padding: 0;
}

#event_notes_space {
	padding-top: 10px;
	float: left;
	width: 784px;
}

#event_detail_right_holder {
	padding-top: 10px;
	float: right;
	width: 210px;
}

#event_detail_right_header {
	padding: 2px;
	padding-left: 10px;
	background-color: #F5E0CC;
	border: 1px solid #CC6600;
	border-radius: 3px;
}

#event_detail_right ul {
/*	list-style: none;*/
	margin-top: 5px;
	list-style-type: square;
	padding-left: 30px;
}

#event_detail_right ul li {
}

/* TASK SHOW */

#task_main {
	float: left;
	margin-bottom: 10px;
}

#task_left {
	float: left;
	width: 280px;
/*	border: dashed 1px #CCC;*/
}

#task_left_box {
	padding: 0;
/*	border: dashed 1px #CCC;*/
	width: 100%;
	float: left	;
}

#task_item {
	padding: 2px;
	padding-left: 10px;
	margin-bottom: 5px;
	background-color: #F5E0CC;
	border: 1px solid #CC6600;
	border-radius: 3px;
	width: 120px;
	float: left;
}

#task_item_detail {
	padding: 2px;
	padding-left: 10px;
	float: left;
}

#task_item_detail ul {
	margin: 0px;
	list-style-type: square;
	padding-left: 17px;
}

#task_item_detail ul li {
}

#task_right {
	float: right;
	width: 714px;
}