<div class='headers'>
	<h1>New Event for <%= @investor.name %></h1>
</div>

<%= render 'form' %>

<div class='back_footer'>
	<%= link_to "Back to #{@investor.name}", organization_investor_path(@organization, @investor) %>